{% extends "base.html" %}
{% load static %}

{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About{% endblock title %}
{% block body %}


<div class="container my-3">
  <h2><center>About Me</center></h2>
  <div class="row">
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/10.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Developer's</h5>
        <p class="card-text">Web developers create and maintain websites. They are also responsible for the site's technical aspects, such as its performance and capacity, 
        which are measures of a website's speed and how much traffic the site can handle. In addition, web developers may create content for the site.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </div>  
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/11.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Designer's</h5>
        <p class="card-text">Web designers plan, create and code internet sites and web pages, many of which combine text with sounds, pictures, graphics and video clips. 
        A web designer is responsible for creating the design and layout of a website or web pages. It and can mean working on a brand new website or updating an already 
        existing site.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </div>
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/10.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tester's</h5>
        <p class="card-text">A tester is an individual that tests software or similar projects for bugs, errors, defects or any problem that the end-user may come across. 
        To put it simply, the role of a tester is to test out products and provide reports to the project team about any issues or improvements that the product may require.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </div>
    </div>

  </div>
</div>

<div class="container my-3">
  <h1 class="my-4">My video</h1>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=d2U0Bv6Tzvw" allowfullscreen></iframe>
  </div>
  <p>Bihar Tourism -  Amazing places to visit in Bihar India. Rich tradition and incredible culture of Bihar.</p> 
  <p>Bihar is the birth place  of many religions like Hindu, Bhudhism , Jain, Sikh, and other.</p>

</div>

{% endblock body %}